<br />
<form>
  <div class="jumbotron">
    <h1>{{ title }}</h1>
  </div>
  <div class="form-group">
    <label for="useCaseName">Name</label>
    <input type="text" class="form-control" id="useCaseName" placeholder="" />
  </div>
  <div class="form-group">
    <label for="zoneCode">Zone Code</label>
    <input type="text" class="form-control" id="zoneCode" placeholder="" />
  </div>
  <div class="form-group">
    <label for="def">Definition(s)</label>
    <input type="text" class="form-control" id="def" placeholder="" />
  </div>
  <div class="form-group">
    <label for="reg">Regulation(s)</label>
    <input type="text" class="form-control" id="reg" placeholder="" />
  </div>
  <div class="form-group">
    <label for="ord">Ordinance</label>
    <input type="text" class="form-control" id="ord" placeholder="" />
  </div>
  <div class="form-group">
    <label for="permit">Permit Requirement(s)</label>
    <input type="text" class="form-control" id="permit" placeholder="" />
  </div>
  <div class="form-group">
    <label for="app">Application(s)</label>
    <input type="text" class="form-control" id="app" placeholder="" />
  </div>
  <div class="form-group">
    <label for="chat">ChatBot Keyword(s)</label>
    <input type="text" class="form-control" id="chat" placeholder="" />
  </div>
  <br />
  <button type="submit" class="btn btn-primary">Submit</button>
  <span><button type="submit" class="btn btn-warning">Cancel</button></span>
</form>
<br />
