h1{
  margin:auto;
  width: 75%;
  padding: 20px;
  text-align: center;
}

form {
  border: 3px solid #f1f1f1;
  margin: auto;
  width: 50%;
  padding: 20px;
  font-size: 1.2vw;
}

label{
  margin-left: 30px;
  font-size: 18px;
}

button {
  background-color: maroon;
  color: gold;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 35%;
  font-size: 24px;
}

button:hover {
  opacity: 0.8;
}


