<form>
  <h1>{{ title }}</h1>
  <p>
    The UMGC City application works by accepting your data input to create a
    database of important Use Cases as determined by you, the city official. The
    app shall map the use cases to the appropriate city zoning codes,
    definitions, regulations, ordinances, permit requirements, applications,
    etc. Once data entry is completed, the app shall output the project file
    into static HTML pages along with necessary DDL scripts. Also the app offers
    an option to display a preview of its output to ensure the correct look and
    feel. Once satisfied, the project file can be downloaded for use with your
    existing city web portal. To begin, click on the appropriate buttons below
    to get started.
  </p>
  <div class="container">
    <button routerLink="/authorized/new-case">New Use Case</button>
    <label>Create a brand new Use Case</label><br />

    <button routerLink="/authorized/select-case">Existing Use Case</button>
    <label>Select and continue working on an existing Use Case</label><br />

    <button routerLink="/authorized/upload-case">Upload Use Case</button>
    <label>Upload Use Cases using an external file</label>
  </div>
</form>
