.class {
    width: 80%;
}

h1 {
    color: (0, 0, 75, 0.92);
}

p {
    padding-top: .5%;
    padding-bottom: .5%;
}

.bold-text {
    font-weight: bold;
    margin-bottom: .5%;
    text-decoration: underline;
}

.mat-dialog-title {
    color: #00275d;
    padding-bottom: .3%;
    text-decoration: underline;
}

a {
    color: #00275d;
    font-size: medium;
}

.mat-primary {
    background-color: #00275d !important;
    color: #fff !important;
}