<h1 mat-dialog-title>Zoning Area: {{ data.codeLabel }}</h1>
<mat-dialog-content>
    <p class="bold-text">Base Zone: {{ data.baseCode }}</p>
    <p>{{ data.baseCodeDescription }}</p>
    <div *ngIf="data.overlayCode">
        <p class="bold-text">Overlay Zone: {{ data.overlayCode }}</p>
        <p>{{ data.overlayCodeDescription }}</p>
    </div>
    <hr>
    <p class='bold-text'>General Requirements for Development and New Land Uses</p>
    <a href="https://library.municode.com/ca/pasadena/codes/code_of_ordinances?nodeId=TIT17_ZONING_CODE_ART2ZODIALLAUSZOECST_CH17.21DELAUSAPRE_17.21.030ALLAUSPERE">Allowable Land Uses and Permits</a>
    <br><br>
    <p class='bold-text'>Base Zone: {{ data.baseCode }}</p>
    <a href="{{ data.baseGeneralStandardsURL }}">General Development Standards</a>
    <br>
    <div *ngIf="data.baseAdditionalStandardsURL">
        <a href="{{ data.baseAdditionalStandardsURL }}">Additional Development Standards</a>
        <br>
    </div>
    <div *ngIf="data.baseGardenStandard">
        <a href="{{ data.baseGardenStandard }}">Garden Development Standards</a>
        <br>
    </div>
    <div *ngIf="data.baseFrontageAndFacadesStandards">
        <a href="{{ data.baseFrontageAndFacadesStandards }}">Frontage and Facades Standards</a>
        <br><br>
    </div>
    <div *ngIf="data.overlayCode">
        <p class='bold-text'>Overlay Zone: {{ data.overlayCode }}</p>
        <a href="{{ data.overlayGeneralStandardsURL }}">General Development Standards</a>
        <br>
        <div *ngIf="data.overlayAdditionalStandardsURL">
            <a href="{{ data.overlayAdditionalStandardsURL }}">Additional Development Standards</a>
            <br>
        </div>
        <div *ngIf="data.overlayGardenStandards">
            <a href="{{ data.overlayGardenStandards }}">Garden Development Standards</a>
            <br>
        </div>
        <div *ngIf="data.overlayFrontageAndFacadesStandards">
            <a href="{{ data.overlayFrontageAndFacadesStandards }}">Frontage and Facades Standards</a>
            <br>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="closeDialog()">Close</button>
</mat-dialog-actions>