<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div  class = "nav-bar">
  <ul>
    <li><a routerLink="New Use Case" routerLinkActive="active">New Use Case</a></li>
    <li><a rounterLink="" routerLinkActive="active">Existing Use Case</a></li>
    <li><a routerLink="Upload Use Case" routerLinkActive="active">Upload Use Case</a></li>
    <li><a routerLink="Home" routerLinkActive="active">
      <img
        alt="UMGC Logo"
        src="https://umucglobalmediacenter.files.wordpress.com/2019/09/cropped-umgc-blog-logo.png?w=240"
      ></a>
    </li>
    <li><a routerLink="Sign-In" routerLinkActive="active">Sign-In</a></li>
    <li><a routerLink="Sign-Up" routerLinkActive="active">Sign-Up</a></li>
    <li><a routerLink="Help" routerLinkActive="active">Help</a></li>
  </ul>
</div>
<!-- removed router tag -->
