ul {
  list-style-type: none;
  margin: auto;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
  width: 14.2%;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 0px 16px;
  margin-top: 25%;
  text-decoration: none;
  font-size: 1.3vw;
}

img {
  max-width: 100px;
  height: auto;
  margin-top: -25%;
}

.nav-bar {
  margin: auto;
  height: auto;
  max-width: 90%;
  padding: 10px;
}
