<!--The content below is only a placeholder and can be replaced.-->
<app-nav></app-nav>

<router-outlet></router-outlet>

<app-footer></app-footer>


<!-- Removed the home component tag because its set in the router now by default.
Awesome job for your first attempt at Angular the only concept you had wrong was
the <router-outlet> tag is a placeholder and tells the router where you want the new 
component shown. You don't need to put it on every components html since its now set 
at the base component (app.component.html). The header and footer will always show and only
the middle view will change since that's where the placeholder <router-outlet></router-outlet>
is set.  -->