<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
<h2>Free HTML Code Generator Tool for City Officials</h2>
<h2>The purpose of this tool is to help city officials create a quick reference page that can answer many of the
  city's allowed land use zoning questions they get of a regular basis. The tool will help city officials organize 
  their city's zoning data in a way that enables it to be presented on thier current city's web application in a
  well organized and easy to read format. City resident's will be able to quickly find data and links pertaining to
  each zones allowed land us, development standards, required permits, and links to permit applications (if available).
</h2>

<p>	&copy; 2020, UMGC City Team 1</p>
<p>This free HTML code generator tool was created by a team of IT software engineering graduate students from
  the University of Maryland Global Campus (UMGC). 
</p>
</div>
<chat-dialog></chat-dialog>
<router-outlet></router-outlet>
