<div class="body">
    <h1>
        Welcome to the {{ title }}!
    </h1>
    <h3>Free HTML Code Generator Tool for City Officials</h3>
    <p>The purpose of this tool is to help city officials create a quick reference page that can answer many of the city's allowed land use zoning questions they get of a regular basis. The tool will help city officials organize their city's zoning data
        in a way that enables it to be presented on thier current city's web application in a well organized and easy to read format. City resident's will be able to quickly find data and links pertaining to each zones allowed land us, development standards,
        required permits, and links to permit applications (if available).
    </p>
    <br/>

    <div class="officials">
        <h2>Ready to get started?</h2>
        <h3>City Officials</h3>
        <p>Please sign in to your account by using the Sign-In Button above.</p>
        <p>If you haven't been here before, please use the Sign-Up Button above to create a city admin account.</p>
        <p>for support please use the Help Button above.</p>
    </div>