<div class="body">
  <div class="jumbotron">
    <div class="container">
      <h1>Welcome to the {{ title }}!</h1>
    </div>
  </div>

  <div class="page-header">
    <br />
    <h2>Free HTML Code Generator Tool for City Officials</h2>
    <br />
    <p>
      The purpose of this tool is to help city officials create a quick
      reference page that can answer many of the city's land use zoning
      questions they may get on a regular basis. This tool will help city officials
      organize their city's zoning data in a way that enables it to be presented
      on thier current city's web application in a well organized and easy to
      read format. City residents will be able to quickly find data and links
      pertaining to each zone, including development standards, required
      permits, and links to permit applications (if available).
    </p>
  </div>

  <div class="page-header">
    <h2>Ready to get started?</h2>
    <br />
    <div class="row">
      <div class="col-xs-6 col-md-4">
        <button
          type="button"
          routerLink="/signin"
          routerLinkActive="active"
          class="btn btn-default"
        >
          Sign-In
        </button>
      </div>
      <div class="col-xs-6 col-md-4">
        <button
          type="button"
          routerLink="/signup"
          routerLinkActive="active"
          class="btn btn-default"
        >
          Sign-Up
        </button>
      </div>
      <div class="col-xs-6 col-md-4">
        <button
          type="button"
          routerLink="/help"
          routerLinkActive="active"
          class="btn btn-default"
        >
          Help
        </button>
      </div>
    </div>
  </div>
</div>
<!-- removed router tag -->
