<app-pasadena-header></app-pasadena-header>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <button mat-raised-button color="primary" id="map-legend-button" (click)="openMapKeyDialog()">
          View Map Legend
        </button>
                <button mat-raised-button color="primary" id="map-reference-button" (click)="openReferenceDialog()">
           Quick Reference Guide
          </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="border border-primary" style="width: 1510px;">
                <img class="paasadena_img_map border" id="map_interactive" src="/assets/img/Zoning_Map.png" usemap="#imgmap" alt="Map for City of Pasadena Zoning Areas" />
                <map name="imgmap" id="imgmap">
          <area
            *ngFor="let zone of zoneShapes"
            shape="{{ zone.shape }}"
            coords="{{ zone.coords }}"
            (click)="openZoningDialog(zone)"
          />
        </map>
            </div>
        </div>
    </div>
</div>