.container {
    max-width: 100%;
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    color: white;
    max-width: 700px;
}

.mat-primary {
    background-color: #00275d;
    color: #fff;
}

#map-legend-button {
    margin-right: 3% !important;
    margin-left: 2%;
    margin-top: 1%;
    margin-bottom: 1%;
}

#map-reference-button {
    margin-top: 1%;
    margin-bottom: 1%;
}

tile {
    display: inline-block;
}

.icon {
    background-color: rgb(75, 173, 243);
    color: white;
    border-radius: 10px;
    padding: 3px;
}

.lock-screen {
    height: 100%;
    overflow: hidden;
    width: 100%;
    position: fixed;
}