<form>
  <h1>{{title}}</h1>
  <div class="container">
    <label id="ucname"><b>Name</b></label>
    <input type="text" placeholder="Enter Use Case Name" name="ucname" required><br/><br/>

    <label id="code"><b>Zone Code</b></label>
    <input type="text" placeholder="Enter Zone Code" name="code" required><br/><br/>

    <label id="definition"><b>Definition(s)</b></label>
    <input type="text" placeholder="Enter Definition(s)" name="definition" required><br/><br/>

    <label id="regulation"><b>Regulation(s)</b></label>
    <input type="text" placeholder="Enter Regulation(s)" name="regulation" required><br/><br/>

    <label id="ordinance"><b>Ordinance</b></label>
    <input type="text" placeholder="Enter Ordinance" name="ordinance" required><br/><br/>

    <label id="permit"><b>Permit Requirement(s)</b></label>
    <input type="text" placeholder="Enter Requirement(s)" name="permit" required><br/><br/>

    <label id="application"><b>Application(s)</b></label>
    <input type="text" placeholder="Enter Application(s)" name="application" required><br/><br/>

    <label id="chatbot"><b>ChatBot Keywords</b></label>
    <input type="text" placeholder="Enter ChatBot Keyword(s)" name="chatbot" required><br/><br/>

    <button type="save">Save</button>
  </div><br>
</form>
<br/>

