<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="nav-bar">
    <ul>
        <li><a routerLink="/usecase/new" routerLinkActive="active">New Use Case</a></li>
        <li><a rounterLink="/usecase/view" routerLinkActive="active">Existing Use Case</a></li>
        <li><a routerLink="/usecase/upload" routerLinkActive="active">Upload Use Case</a></li>
        <li>
            <a routerLink="/home" routerLinkActive="active">
                <img alt="UMGC Logo" src="https://umucglobalmediacenter.files.wordpress.com/2019/09/cropped-umgc-blog-logo.png?w=240"></a>
        </li>
        <li><a routerLink="/signin" routerLinkActive="active">Sign-In</a></li>
        <li><a routerLink="/signup" routerLinkActive="active">Sign-Up</a></li>
        <li><a routerLink="/help" routerLinkActive="active">Help</a></li>
    </ul>
</div>