@import '~bootstrap/dist/css/bootstrap.css';
@import 'font-awesome/css/font-awesome.min.css';
:-webkit-full-screen,
-moz-full-screen,
fullscreen {
    background-color: #FFFF;
}

body {
    height: 100%;
}

body {
    margin: auto;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}